<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums!</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div>
    <h1>Albums</h1>
    <ul th:each="album : ${album}">
        <li>
            <strong>Title:</strong> <span th:text="${album.title}"></span><br>
            <strong>Artist:</strong> <span th:text="${album.artist}"></span><br>
            <strong>Song Count:</strong> <span th:text="${album.songCount}"></span><br>
            <strong>Length (seconds):</strong> <span th:text="${album.songLength}"></span><br>
<!--            <strong>Image:</strong> <a th:href="${album.imageUrl}" th:text="${album.imageURL}"></a><br>-->
        </li>
        <br>
    </ul>
</div>
</body>
</html>